body{
    /* background-image: url('./1666154876_3-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#main{
    text-align: center;
}

#main h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#main p{
    font-size: 20px;
}

#main img{
    width: 300px;
    height: auto;
    border-radius: 20px;
}

button{
    padding: 5px 40px;
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-text-color);
}

button:hover{
    background: var(--tg-theme-secondary-bg-color);
}

form{
    text-align: center;
    display: none;
}

form input{
    padding: 10px;
    margin: 2px;
    background-color: gold;
    color: black;
    font-weight: 900;
}

form button{
    padding: 5px 40px;
    margin-top: 10px;
    font-weight: 900;
}